* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5efe6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0  10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 2rem;
}

.hidden {
    display: none;
}
.correct {
    background-color: green;
    color: white;
}
.wrong {
    background-color: red;
    color: white;
}
h1{
    color: #e86a33;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
.start-container p {
    color: #666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

button {
  background-color: #e86a33;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
h2 {
    margin-block-end: 1rem;
}
.question-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.answer-button {
  display: block;
  width: 100%; 
  margin-block-end: .5rem;
  background-color: #f8f0e5;
  color: #333;
  border: 2px solid #eadbc8;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}
.answer-button:hover {
  background-color: #eadbc8;
  border-color: #dac0ae;
}
.answer-button.correct {
  background-color: #e6fff0;
  border-color: #a3f0c4;
  color: #28a745;
}

.answer-button.incorrect {
  background-color: #fff0f0;
  border-color: #ffbdbd;
  color: #dc3545;
}
.progress-bar {
  height: 10px;
  background-color: #f8f0e5;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.bar {
  height: 100%;
  background-color: #e86a33;
  width: 0%;
  transition: width 0.3s ease;
}

.result-wrapper {
    background-color: #f5efe6;
    padding: 2rem;
    border-radius: 1rem;
    margin-block-end: 1.5rem;
}

