* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
.cell {
    background-color: black;
    color : white;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}